{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idcategorie</th>
                <td>{{ category.idcategorie }}</td>
            </tr>
            <tr>
                <th>Nomcategorie</th>
                <td>{{ category.nomcategorie }}</td>
            </tr>
            <tr>
                <th>Descriptioncategorie</th>
                <td>{{ category.descriptioncategorie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_category_index') }}">back to list</a>

    <a href="{{ path('app_category_edit', {'idcategorie': category.idcategorie}) }}">edit</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
